*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
    box-sizing: border-box;
}

body {
	font-family: 'Permanent Marker', cursive;
	font-size: 16px;
}

.container {
    padding-top: 3%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.deck {
    padding-top: 10%;
	width: 85%;
	background: #716F71;
	padding: 16px;
	border-radius: 4px;
	box-shadow: 6px 8px 30px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	
}

.deck .card {
	height: 59px;
	width: 59px;
	margin: 3px 3px;
	background: #000000;;
	font-size: 0;
	color: #ffffff;
	border-radius: 10px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}

.deck .card.open {
	transform: rotateY(0);
	background: #02b3e4;
	cursor: default;
	animation-name: turncard;
	-webkit-backface-visibility: visible !important;
	backface-visibility: visible !important;
	animation-duration: .75s;
}

.deck .card.show {
	font-size: 33px;
}

.deck .card.match {
	cursor: default;
	background: #E5F720;
	font-size: 33px;
	animation-name: MatchCards;
	-webkit-backface-visibility: visible !important;
	backface-visibility: visible !important;
	animation-duration: .75s;
}

.deck .card.unmatched {
	animation-name: pulse;
	-webkit-backface-visibility: visible !important;
	backface-visibility: visible !important;
	animation-duration: .75s;
	background: #e2043b;
}

.deck .card.disabled {
	pointer-events: none;
	opacity: 0.9;
}


/*---------------------------------------*/
.score {
	text-align: center ;
}

.score .sterren {
    width: 100px;
	margin: 0;
	padding: 0;
	display: inline-block;
	margin: 0 5px 0 0;
    margin-left: 5%;
}

.score .sterren li {
	list-style: none;
	display: inline-block;
}

.score .restart {
	float: right;
	cursor: pointer;
}

.timer {
	display: inline-block;
	margin: 0 16px;
}
/*Stijl voor popup als je wint */
.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.7);
	transition: opacity 0.5s;
	visibility: hidden;
	opacity: 0;
}

.overlay:target {
	visibility: visible;
	opacity: 1;
}
  
.popup {
	margin: 70px auto;
	padding: 20px;
	background: #ffffff;
	border-radius: 5px;
	width: 85%;
	position: relative;
	transition: all 5s ease-in-out;
	font-family: 'Gloria Hallelujah', cursive;
}
  
.popup h2 {
	margin-top: 0;
	color: #333;
	font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
	position: absolute;
	top: 20px;
	right: 30px;
	transition: all 0.2s;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	color: #333;
}

.popup .close:hover {
	color: #E5F720;
}

.popup .boodschap,
.content {
	max-height: 30%;
	overflow: auto;
	text-align: center;
}

.show {
	visibility: visible !important;
	opacity: 100 !important;
}

#starRating li {
	display: inline-block;
}

#play-again {
	background-color: #141214;
	padding: 11px 16px;
	font-size: 17px;
	display: block;
	margin: 0 auto;
	width: 50%;
	font-family: 'Gloria Hallelujah', cursive;
	color: #ffffff;
	border-radius: 5px;
}

/* animatie */
@keyframes turncard {
	from {
		transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
		animation-timing-function: ease-in;
		opacity: 0;
	}

	40% {
		transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
		animation-timing-function: ease-in;
	}

	60% {
		transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
		opacity: 1;
	}

	80% {
		transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
	}

	to {
		transform: perspective(400px);
	}
}

@keyframes MatchCards {
	from { 
		transform: scale3d(1, 1, 1);
	}

	30% {
		transform: scale3d(1.25, 0.75, 1);
	}

	40% {
		transform: scale3d(0.75, 1.25, 1);
	}

	50% {
		transform: scale3d(1.15, 0.85, 1);
	}

	65% {
		transform: scale3d(.95, 1.05, 1);
	}

	75% {
		transform: scale3d(1.05, .95, 1);
	}

	to {
		transform: scale3d(1, 1, 1);
	}
}

@keyframes pulse {
	from {
		transform: scale3d(1, 1, 1);
	}

	50% {
		transform: scale3d(1.2, 1.2, 1.2);
	}

	to {
		transform: scale3d(1, 1, 1);
	}
}

/**************** Mobile ***************************/

@media (max-width: 320px) {
	.deck {
		width: 85%;
	}

	.deck .card {
		height: 75px;
		width: 75px;
	}
}

@media (max-width: 425px) {
    .deck {
		height: 85%;
        width: 80%:
	}
}
/**************** voor tablets en groter(daarom min-width)****************/

@media (min-width: 768px) {
	.container {
		font-size: 22px;
	}

	.deck {
		width: 660px;
		height: 680px;
	}

	.deck .card {
		height: 125px;
		width: 125px;
	}

	.popup {
		width: 60%;
	}
}